body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
}

#map{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.title{
    position: absolute;
    z-index: 100; 
    font-size: 68px;
    font-weight: bold;
    color: #333; 
    text-transform: uppercase;  
    top: 50px;
    left: 70px; 
}

.search-container{
    border-radius: 30px;
    position: absolute;
    z-index: 100;
    top: 150px;
    left: 70px;
    width: 400px;
    height: 60px;
    background-color: #454E53;
    display: flex;
}

.search-container .search{
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.search-container input{
    width: 100%;
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: #ffffff;    
}

.search-container input:focus{
    outline: none;
}

.search i {
    color: #ffffff;
    font-size: 25px;
    cursor: pointer;
}

.stores-list-container{
    width: 400px;
    position: absolute;
    z-index: 100;
    background-color: #ffffff;
    left: 70px;
    top: 230px;
    border-radius: 30px;
    bottom: 20px;
    display: flex;
    padding-bottom: 30px;
}

.stores-list{
    flex-grow: 1;
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
}

.store-container{
    border-bottom: 1px solid #979797;
    display: flex;
    cursor: pointer;
} 

.store-address {
    color: #514C4C;
    font-size: 21px;
    margin-top: 30px;
}

.store-address span {
    display: block;
}

.store-info-container{
    flex-grow: 1;    
}

.store-phone-number {
    color: #B5AdAd;
    margin-top: 15px;
    margin-bottom: 15px;
}

.store-number{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: #454E53;
    color: #B5EDED;    
    border-radius: 50%;
    font-size: 12px;
}

.store-number-container{
    display: flex;
    justify-content: center;    
    align-items: center;    
}

.store-info-window{
    min-width: 300px;
    font-size: 18px;
    padding: 8px;
}

.store-info-name{
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, .87);    
}

.stote-info-status{
    margin-top: 6px;
    border-bottom: 1px solid #00000029;
    padding-bottom: 6px;
}

.store-info-address, .store-info-phone {
    margin-top: 8px; 
    display: flex;   
    align-items: center;
}

.store-info-address .circle, .store-info-phone .circle{
    width: 30px;
    height: 30px;
    background-color: #1985A1;
    color: #ffffff;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 8px;
}

.store-container-background{
    display: flex;
    flex-grow: 1;
    border-radius: 12px;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 12px;
    margin-bottom: 12px; 
    transition: all 0.2s ease-in-out;
}

.store-container-background:hover{
    display: flex;
    flex-grow: 1;    
    background-color: #ccc;
}